<div class=' container flex flex-col w-3/12'>
  <h2 class='text-3xl font-bold mb-6 tracking-tight text-gray-900 dark:text-white'>Sign up</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field mb-6">
      <%= f.label :email, class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input-field", placeholder: "name@example.com" %>
    </div>

    <div class="field mb-6">
      <%= f.label :username, class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
      <%= f.text_field :user_name, autofocus: true, autocomplete: "username", class: "input-field" %>
    </div>

    <div class="field mb-6">
      <%= f.label :password, class: 'block mb-2 text-sm font-medium text-gray-900 dark:text-white' %>
      <% if @minimum_password_length %>
        <em class='text-xs tracking-tight text-gray-900 dark:text-white'>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %>
      <%= f.password_field :password, autocomplete: "new-password", class: "input-field" %>
    </div>

    <div class="field mb-6">
      <%= f.label :password_confirmation, class: 'block mb-2 text-sm font-medium text-gray-900 dark:text-white' %>
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "input-field" %>
    </div>

    <div class="actions">
      <%= f.submit "Sign up", class: "btn-primary" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
