<%= form_with model: project do |form| %>
  <% if project.errors.any? %>
    <% project.errors.full_messages.each do |message|%>
      <h3><%= message %> </h3>
    <%end%>
  <%end%>
  <div class='mb-6'>
    <%= form.label :name, class:'block mb-2 text-sm font-medium text-gray-900 dark:text-white' %>
    <div class='flex flex-row justify-between'>
      <%= form.text_field :name, class: 'mr-2 input-field', required: true, autofocus: true, maxlength: 20 %>
      <%= link_to root_path, class: 'btn-danger' do %>
        <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path></svg>
      <% end %>
      <%= button_tag class: 'btn-primary' do %>
        <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path></svg>
      <% end %>
    </div>
  </div>
<% end %>
