<div class='container'>
  <div class='flex flex-row justify-between mb-10'>
    <h1 class='text-3xl font-bold tracking-tight text-gray-900 dark:text-white'><%= @project.name %></h1>
    <div data-controller='modal' class='flex flex-row justify-between'>
      <button data-action= 'modal#open_sprint', class='btn-success' >Manage Sprints</button>
      <%= render(SprintModal.new(project: @project, sprints: @sprints)) %>
      <%= link_to 'Add Devs', manage_developers_project_path(@project), class: 'btn-success' %>
    </div>
  </div>
  <div class='mb-5'>
    <h3 class='text-xl font-bold tracking-tight text-gray-900 dark:text-white'>Developer Team:</h3>
    <%= turbo_frame_tag 'project_developers', class: 'flex flex-col justify-start mb-3' do %>
      <%= render(ProjectDeveloper.with_collection(@developers, project: @project)) %>
    <% end %>
  </div>
  <div class='flex items-center justify-center'>
    <%= link_to 'Home Page', root_path, class: 'btn-primary' %>
    <% if @project.project_developer_ids(current_user).present? && @project.sprints.exists?%>
      <%=link_to 'See Pairs', project_sprints_path(@project), class: 'btn-primary' %>
    <% end %>
  </div>
</div>
